button:hover {
  cursor: pointer;
}

#searchBar {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 70%;
  font-size: 16px;
  padding: 18px 20px 15px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  display: block;
  margin-left: 200px;
  margin: 0 auto;
}

.search button {
  background-color: #000000;
  border: none;
  margin-right: 10px;
  font-size: 16px;
  color: white;
  padding: 2px;
  margin-top: 5px;
  border-radius: 12px;
  margin-bottom: 5px;
  font-family: monospace;
}

#demo img {
  border-radius: 12px;
}

h2 {
  text-align: center;
  font-family: monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4169e1;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 14px;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #4682b4;
}

#thumbnail {
  float: left;
  margin-right: 10px;
  border: solid black 1px;
  padding: 2px;
  width: 175px;
  height: 175px;
}

#vidThumb {
  float: left;
  margin-right: 10px;
  border: solid black 1px;
  padding: 2px;
  width: 175px;
  height: 175px;
}

.info {
  height: 225px;
  width: auto;
  margin-right: 100px;
}

#location {
  width: 150px;

}

#search_options {
  margin-top: 200px;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  margin-bottom: 125px;
  height: 400px;
  visibility: hidden;
}

#search_options p {
  padding: 2px 8px 2px 16px;
  text-decoration: none;
  font-family: monospace;
  font-size: 14px;
  color: #fff;
  display: block;
}

#search_options img:hover {
  cursor: pointer;
}

.heart {
  width: 40px;
  height: 40px;
}

.heart:hover {
  cursor: pointer;
}

#locate {
  visibility: hidden;
}

#storage {
  text-align: center;
  background-color: #FFFACD;
}

#rocket {
  width: 50px;
  height: 50px;
  visibility: hidden;
}

#search {
  text-align: center;
}

#footer {
  background-image: url("https://images.pexels.com/photos/2162/sky-space-dark-galaxy.jpg?cs=srgb&dl=astronomy-constellation-cosmos-2162.jpg&fm=jpg");
  position: absolute;
  width: 100%;
  color: white;
  padding: 10px;
  font-style: normal;
  font-family: monospace;
  font-size: 14px;
  text-align: center;
}

#footer a {
  color: #99CCFF;
}

#grid {
  margin-right: 10px;
  border: solid black 1px;
  padding: 2px;
  width: 175px;
  height: 175px;
}

.gridView {
  display: inline-grid;
  width: 200px;
  height: 300px;
  padding: 5px;
  border: solid gray 5px;
  margin-bottom: 3px;
  text-align: center;
}

#results {
  display: block;
  margin-left: 200px;
  margin-bottom: 100px;
  padding-bottom: 100px;
  height: auto;
}

#view {
  background-color: inherit;
  color: white;
  font-family: monospace;
  border-radius: 12px;
  border: solid white 1px;
  margin: 2px;
  align-content: center;
}

#refine {
  border-radius: 5px;
  border: solid gray 2px;
  background-color: white;
  color: black;
  font-family: monospace;
  margin: 10px;
}

#startDate, #endDate {
  width: 100px;
}

#calendar {
  visibility: hidden;
}
